/* game list variables */

$templates: Dragon Monkey Ox Ram Rooster Shanghai Snake;

$border-color-templates: #c0392b #2980b9 #d35400 #16a085 #f39c12 #8e44ad #7f8c8d;
$background-color-templates: #e74c3c #3498db #e67e22 #1abc9c #f1c40f #9b59b6 #95a5a6;

/* END game list variables */