#fieldContent {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	@include border-radius(5px);
	border: 3px solid $border-color;
}

#fieldContent h1{
	z-index: 500;
}

.tile {
	position: absolute;
	height: $tile-height;
	width: $tile-width;
	@include border-radius(8px);
}

.selectedTile div{
	@include box-shadow(0px 0px 15px 20px rgba(52, 205, 247, .85));
    -webkit-transition-duration: 400ms;
    -moz-transition-duration: 400ms;
    -o-transition-duration: 400ms;
    transition-duration: 400ms;
}

@for $i from 0 through 35{
	.tile[xPos="#{$i}"]{
		left: ((($tile-width + $tile-space) * $i)/2);
	}
}

@for $i from 0 through 20{
	.tile[yPos="#{$i}"]{
		top: ((($tile-height + $tile-space) * $i)/2);
	}
}

@for $i from 0 through 6{
	.tile[zPos="#{$i}"]{
		z-index: (400 + ($i * 2));
		@include transform-translate($tile-space-3d*$i*-1, $tile-space-3d*$i*-1);
	}
	.selectedTile[zPos="#{$i}"]{
		z-index: (401 + ($i * 2));
		@include transform-translate($tile-space-3d*$i*-1, $tile-space-3d*$i*-1);
	}
	.tile[zPos="#{$i}"]:hover {
		@include box-shadow(0px 0px 15px 20px rgba(1, 255, 1, .85));
	    -webkit-transition-duration: 100ms;
	    -moz-transition-duration: 100ms;
	    -o-transition-duration: 100ms;
	    transition-duration: 100ms;
	    z-index: (401 + ($i * 2));
	}
}

@each $suit in $tileSuits{

	@each $name in $tileNames{

		div[name="#{nth($name, 1)}"][suit="#{nth($suit, 1)}"]{

			background: url($tileSprite) ((nth($name, 2)*$sheet-width)*-1px) ((nth($suit, 2)*$sheet-height)*-1px);
		}
	}
}

@each $dragon in $tileDragon{

	div[name="#{nth($dragon, 1)}"][suit="Dragon"]{

		background: url($tileSprite) ((13*$sheet-width)+2)*-1px (nth($dragon, 2)*$sheet-height)*-1px;
	}
}

@each $template in $templateSize{
	.#{nth($template, 1)}{
		width: (nth($template, 2)*1px) !important;
		height: (nth($template, 3)*1px) !important;
	}
}