@import '../mixin';
@import '../settings';

/* board config */

$tile-width: 37px;
$tile-height: 45px;
$sheet-width: 37;
$sheet-height: 45;
$tile-space: 2px;
$tile-space-3d: 3px;
$border-color: #252233;

$tileSprite: '../../img/Mahjong_sprite_sheet_small.png';

$tileSuits: (
	"Character"	0,
	"Bamboo"	1,
	"Circle"	2,
	"Season"	1,
	"Flower"	2,
	"Wind"		0,
);

$tileNames: (
	"1"	0,
	"2"	1,
	"3"	2,
	"4"	3,
	"5" 4,
	"6" 5,
	"7" 6,
	"8" 7,
	"9" 8,
	"10" 9,

	"Spring" 9,
	"Summer" 10,
	"Autumn" 11,
	"Winter" 12,

	"Bamboo" 9,
	"Plum" 10,
	"Orchid" 11,
	"Chrysantememum" 12,

	"North" 9,
	"East" 11,
	"South" 10,
	"West" 12
);

$tileDragon: (
	"Green"	0,
	"Red"	1,
	"White" 2
);

$templateSize: (
	("Dragon"	630	425),
	("Monkey"	630	425),
	("Ox"		570	425),
	("Ram"		630	425),
	("Rooster"	630	425),
	("Shanghai"	630	425),
	("Snake"	630	425)
);


/* END board config */

@import 'board.scss';